name: CI

on:
  push:
    branches:
      - '*develop*'
      - '*master*'
  pull_request:
    branches:
      - '*develop*'
      - '*master*'

jobs:
  cross_build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install CMake
        uses: kitware/cmake-action@v2
        with:
          cmake-version: 'latest'
      
      - name: Configure
        run: cmake -B build -S .
      
      - name: Build
        run: cmake --build build
      
      - name: Deploy
        run: |
          echo "Deploying build artifacts..."
          # Add your deploy commands here